body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #e6e8e6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #553a41;
    color: #e6e8e6;
    padding-left: 40px;
    padding-right: 40px;
    border-bottom: solid 1px #191919;
}
div.logo {
    font-size: 24px;
    font-weight: bold;
}
.nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav ul li {
    margin: 0 15px;
}
.nav ul li a {
    color: #e6e8e6;
    text-decoration: none;
    font-size: 20px;
}
.nav ul li:hover {
    background-color: #96727c;
}
