/* 
colors
#553A41 brown
#3A6EA5 blue
#E6E8E6 grey
#BB7E8C rose
#191919 black
#d7c0d5 purple
*/
body, html {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #e6e8e6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #191919;
    color: #e6e8e6;
    padding-left: 40px;
    padding-right: 40px;
    border-bottom: solid 1px;
}
header{
    margin: 20px 20px 20px 20px;
}

div.logo {
    transition: background-color 0.7s ease;
    font-size: 24px;
    font-weight: bold;
}
div.logo a {
    color: #e6e8e6;
    text-decoration: none;
}
div.logo a:hover {
    color: #96727c;
    transition: 0.7s;
}
.nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav ul li {
    padding: 10px 20px;
    margin: 0 15px;
    transition: background-color 0.7s ease;
    border-radius: 6px;
}
.nav ul li a {
    color: #e6e8e6;
    text-decoration: none;
    font-size: 20px;
}
.nav ul li:hover {
    background-color: #96727c;
    transition: 0.7s;
}
.hero-section {
    background-color:  #d7c0d5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    border: solid 1px #191919;
    
}
.hero-section h2 {
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 0px;
}
.hero-section button{
    background-color: #553a41;
    color: #e6e8e6;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 6px;
    margin-bottom: 40px;
    transition: background-color 0.7s ease;
}
.hero-section button:hover {
    background-color: #96727c;
    transition: 0.7s;
}
.hero-section button:focus {
    outline: solid 3px #3A6EA5;           
    transition: 0.7s;
}
main{
    margin-right: 20px;
    margin-left: 20px;
}
.Discounted, .new-arrivals {
    border: solid 1px;
    margin-top: 20px;
    background-color: #BB7E8C;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;

}
.Discounted, h2{
    border-bottom: solid 1px;
    
}
.new-arrivals, h2{
    border-bottom: solid 1px;
}
.product-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px;
    margin-top: 20px;
    background-color: #d7c0d5 ;
    padding: 20px 0 20px 0;
    width: 400px;
    height: 300px;
    transition: transform 0.3s ease;
}
.product-card:hover {
    transform: scale(1.05);
}
.product-card b{
    margin-left: 10px;
    font-size: 25px;
    text-decoration: none;
}
.product-grid{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.price{
    margin: 0;
    font-size: 20px;
    text-decoration: line-through;
}
.info1{
    border:solid 1px;
    margin-top: 20px;   
    padding-left: 30px;
    padding-right: 30px;
    background-color: #BB7E8C;
    font-size: 24px;
    font-weight: 500;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #191919;
    color: #e6e8e6;
    padding-left: 40px;
    padding-right: 40px;
    margin: 20px 20px 20px 20px;
    font-size: 20px;
    font-weight: 500;
}
